body {
    font-family: Arial, sans-serif;
    background-color: #fadada;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(185, 235, 255);
}

.profile {
    margin-top: 20px;
    padding: 20px;
    background: rgb(135, 174, 247);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    border-radius: 50%;
}
